aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.2.7
astroid==2.0.4
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.0.2
blessings==1.7
bs4==0.0.1
cachetools==5.3.0
Cerberus==1.3.2
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.1.0
Click==7.0
colorama==0.4.0
comtypes==1.1.9
config42==0.4.2
cycler==0.11.0
decorator==4.3.0
defusedxml==0.5.0
distlib==0.3.6
Django==3.0.5
entrypoints==0.2.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.9.0
flake8==3.6.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
gTTS==2.0.3
gTTS-token==1.1.3
html-parser==0.2
huepy==1.2.1
idna==2.8
imageio==2.8.0
imageio-ffmpeg==0.4.1
importlib-metadata==6.0.0
instabot==0.117.0
instaloader==4.2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jdcal==1.4
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.4.4
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
matplotlib==3.5.3
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
more-itertools==8.2.0
moviepy==1.0.2
multidict==6.0.4
mysql-connector==2.1.6
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.2
numpy==1.18.2
openpyxl==2.6.0
packaging==20.3
panda==0.3.1
pandas==1.3.5
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.5
Pillow==7.1.1
pipenv==2023.2.18
platformdirs==3.1.0
plotly==4.1.1
pluggy==0.13.1
ply==3.11
proglog==0.1.9
prometheus-client==0.5.0
prompt-toolkit==2.0.7
py==1.8.1
pycodestyle==2.4.0
pydocstyle==3.0.0
pyflakes==2.0.0
Pygments==2.3.0
pylama==7.6.6
pylint==2.1.1
pylint-django==2.0.5
pylint-plugin-utils==0.4
pyparsing==2.4.6
pyperclip==1.7.0
pypiwin32==223
PySocks==1.7.1
pytest==5.4.1
python-dateutil==2.7.5
pyttsx3==2.90
pytz==2019.3
pywin32==300
pywinpty==0.5.4
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.22.0
requests-toolbelt==0.9.1
responses==0.10.12
retrying==1.3.3
schedule==0.6.0
seaborn==0.12.2
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==1.2.1
soupsieve==1.9
sqlparse==0.3.1
subprocess.run==0.0.8
substring==0.2
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.45.0
traitlets==4.3.2
typing_extensions==4.5.0
urllib3==1.25.8
virtualenv==20.20.0
virtualenv-clone==0.5.7
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.2.0
XlsxWriter==1.2.9
yarl==1.8.2
zipp==3.1.0
